# IDEA
/.idea/
texas-hearing-institute/.idea/vcs.xml
texas-hearing-institute/.idea/workspace.xml
texas-hearing-institute/.idea/inspectionProfiles/Project_Default.xml
texas-hearing-institute/pages/Testing.tsx
